.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }

  .containerPaginate {
    width:40%;
    position: relative;
    top:5em;
  }

  .pageIcon{
    font-size: 1.3em;
  }
  .pageItems {
    list-style-type: none;
  }

  .pageLink {
    border:none;
    background-color: rgba(42, 44, 47, 1.0);
  }
  .pageItem{
    background-color: rgba(42, 44, 47, 1.0);
  }

  
  
  @media only screen and (max-width: 700px) {
    .containerPaginate {
      width:50%;
      position: relative;
      top:3em;
    }
    
  .pageIcon{
    font-size: 1.1em;
  }
   
    
  }