
.loginLogOut{
    color:#1b74af;
    padding: 0.1em;
    font-size: 1.2em;
    font-weight: 600;
  
}

.loginLogOutIconSize {
    font-size: 2em;
}


.form-content
{   position: relative;
    top:2em;
    width:60%;
    display: block;
    margin: auto;
    color:white;
    background-color:rgba(60, 61, 64,1.0); 
    border: solid #000;
    border-width: 2px;
    border-color: #333437;
    padding: 6px;
}

@media only screen and (max-width: 600px) {
    .form-content,.form-c {
        display: flex;
        flex-direction: column;
    }

   
  }


.formSelecButton{
    
    font-size: 1.2em;
    color:white;
    margin-right: 0.7em;
    margin-top: 0.5em;
    background-color: rgba(42, 44, 47, 1.0);
}

.formSelectContainer {

    width:50%;
    height:2.3em;
    border:2px solid orange;
    border-radius: 5px;
 
}

.opetionDots {
    font-size: 0.5em;
    
}

.dropDownConainer {
    margin-top: 4.5em;
}
.loction-font{
    padding: 0.5em;
    font-size: 0.9em;
}
.dropDownMenu{
    width:50%;
    left: 50% !important;
    transform: translateX(-50%) !important;
    top: 100% !important;
}
