.listGroupItem {
    
    background-color:rgba(42, 44, 47, 1.0);
    border: solid #333437;
    border-width: 2px;
    color: white;
  
}



.titleLocation {
    height:4em;
    width:100%
}
@media screen and (max-width: 1000px) {
    .imgDetail{
        width:60%;
        height:5em;
    
      
    }
  }
 
  @media screen and (min-width: 1000px) {
    .imgDetail{
        width:60%;
        height:8em;
        position: absolute;
        top:1em;
        z-index: 1;
    }
    .hashtag-bg{
        font-size: 1em;
    }
    
  }
