.listGroupItem {
    
    background-color:rgba(42, 44, 47, 1.0);
    border: solid #333437;
    border-width: 2px;
    color: white;
  
}


.titleLocation {
    height:4em;
    width:100%
}
/* ipda */
@media screen and (min-width: 400px) {
    .imgDetail{
        width:50%;
        height:6em;
    
      
    }
    .hashtag-bg{
        font-size: 1em;
    }
   
  }




/* ipda */
@media screen and (min-width: 700px) {
    .imgDetail{
        width:60%;
        height:6em;
    
      
    }
  }
 
  /* pc */
  @media screen and (min-width: 1000px) {
    .imgDetail{
        width:60%;
        height:6em;
        position: absolute;
        top:1em;
        z-index: 1;
    }
    .hashtag-bg{
        font-size: 1em;
    }
    
  }

  .ac-text{
      overflow: hidden;
  }