.listGroupItem {
    
    background-color: rgb(48 51 56);
    border: solid #333437;
    border-width: 1px;
    color: white;
  
}

.colItemTwo{
    height:3em;
    background-color: rgb(42, 45, 49);
}
.imgAndDescriptionBg{
    
    background-color: rgb(54 55 58);
}


.titleLocation {
    height:3em;
    width:100%
}
.hashtag-item-job {
    font-size: 1em;
    color:#ED1637;
    
    stroke: #ED1637;
    stroke-width: 23;
}


/* pc */
@media screen and (min-width: 800px) {
    .imgDetail{
        width:70%;
        height:6em;
        position: absolute;
        top:1em;
        z-index: 1;
      
    }
  }
 

  @media screen and (max-width: 800px) {
    .imgDetail{
        width:80%;
        height:6em;
        position: absolute;
        top:1em;
        z-index: 1;
      
    }
  }
  /* mobile */
  @media screen and (max-width: 600px) {
    
    .imgDetail{
        width:80%;
        height:5em;
        position: absolute;
        top:1em;
        z-index: 1;
    }
    .hashtag-bg{
        font-size: 1em;
    }
    
    .descriptionContainer{
    
        padding-top:1.1em;
        padding-left:1.5em;
    }
    
  }

  .ac-text{
      width:80%;
      font-size: 0.8em;
      overflow: hidden;
  }

  .starsWidth{
      width:10%;
  }