.listGroupContainer {
    width:58%;
    background-color: rgba(42, 44, 47, 1.0);
    
}

.mainContainer {
    position: relative;
    top: 3em
}

.searchRelatedContainer {
    width:20%;
    background-color: rgba(42, 44, 47, 1.0);
}
.itemContainer{
    list-style-type: none;
    
}

.sortContainer {
    background-color:  rgba(42, 44, 47, 1.0);
    width:20%;
}

@media only screen and (max-width: 800px) {
    
   }