.containerNavbar {
    background-color: #141517;
    border: solid #333437;
    border-width: 2px;
 
}
#heightNavbarCollaps {
    height:15em;
}
#heightNavbarNormal {
    height:3.4em;
}
.hashtagNavbar {
    font-size: 1.1em;
    color:#cc1e39;
    stroke: #cc1e39;
    stroke-width: 20; 
}


.titleNavbar {
    font-size: 1em;
    color:#717475
}


.socialMediaItemNavbar{
    font-size: 1.6em;
    color: #717475;  
}

/* mobile */
@media only screen and (max-width: 600px) {
      
.hashtag-bg-nav{
    font-size: 1em;
    color:#ED1637;
    
    stroke: #ED1637;
    stroke-width: 23;
 
    }
    .title-b {
        font-size: 0.6em;
        color:#717475;
    }

    
  }