.navbar-bg {
    height:3.4em;
    background-color: #141517;
    border: solid #333437;
    border-width: 2px;
 
}

.hashtag-bg-nav{
    font-size: 1.1em;
    color:#cc1e39;
    stroke: #cc1e39;
    stroke-width: 20;
    
}


.title-b {
    font-size: 1em;
    color:#717475
}

.iconContainer {
    width:10%
}

.iconSize {

    font-size: 1.6em;
    color: #717475;
   
    
}

.logInIcon {
    width: 50%;
  
}

.openCloseFormButtonContainer{
    width:30%
}

@media only screen and (max-width: 800px) {
    
   
.hashtag-bg-nav{
    font-size: 1em;
    color:#ED1637;
    
    stroke: #ED1637;
    stroke-width: 23;
 
    }
    .title-b {
        font-size: 0.6em;
        color:#717475;
    }

    
  }