.footerContainer {
    top:10em;
    height:3em;
 
}

.termsPrivecyContainer {
    position: relative;
    top:8em;
  
}


.border-footer {
    position: relative;
    background-color: #141517;
    border: 1px solid #333437;;
  
}

.footerMainContainer {
    position: fixed;
    bottom:0;
    width:100%;
    height:3em;
    background-color:rgb(27, 28, 29);
}

.iconSize {
    font-size: 1.4;
}


@media only screen and (max-width: 1000px) {
    .footerMainContainer {
        position: fixed;
        bottom:0;
        height: 1.5em;
        width:100%;
        background-color: rgb(27,28, 29) 
    }
   
    
  }

.termsPrivecy {
    padding:0.8em;
    color:#aba3a4;
    font-size: 0.9em;
    font-weight: 500;
    font-family: sans-serif;
    
}
.itemFooterOne{
    
    font-size: 1em;
    color:	#FF8C00;
    font-weight: 600;
}

.itemFooterTwo{
    
    font-size: 1.1em;
    color:#168e31
}