.listGroupItem {
    
    background-color:rgba(42, 44, 47, 1.0);
    border: solid #333437;
    border-width: 2px;
    color: white;
  
}

img{
    width:70%;
    height:5em
}


.titleLocation {
    height:5em;
    width:100%
}