.miniHeaderContainer {
    width:48%;
    position: relative;
    display: block;
    margin: auto;
    top:4em;
    background-color:rgba(42, 44, 47, 1.0);
    border: solid #333437;
    border-width: 1px;
    color: #ED1637
}

.miniHeaderLegenContainer {
    width:9%;
    font-size: 0.7em;
    color:#B0B3B5;
   
}



@media screen and (min-width: 601px) {
    .miniHeaderPargraph {
        font-size:1vw
    
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 800px) {
    .miniHeaderPargraph {
        font-size:1.4vw
    
    }
  }

  @media only screen and (min-width: 400px) {
    .listGroupContainer {
        width:50%;
        background-color: rgba(42, 44, 47, 1.0);
        
    }
   
    .searchRelatedContainer {
        width:20%;
        background-color: rgba(42, 44, 47, 1.0);
    }

    .sortContainer {
        background-color:  rgba(42, 44, 47, 1.0);
        width:20%;
    }
    

}