.miniHeaderContainer {
    width:50%;
    height:4.5em;
    position: relative;
    display: block;
    margin: auto;
    top:5em;
    background-color:rgba(42, 44, 47, 1.0);
    border: solid #4a4a4a;
    border-width: 1px;
    color: #bd122c;
    overflow: hidden;
}

.miniHeaderLegenContainer {
    width:7%;
    font-size: 0.9em;
    color:#B0B3B5;
   
}



@media screen and (min-width: 600px) {
    .miniHeaderPargraph {
        font-size:0.9vw;
       
    
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    .miniHeaderPargraph {
        font-size:1.3vw
    
    }
  }

