
.appContainer {
  position: relative;
  width:100%;
  background-color:rgba(42, 44, 47, 1.0);
  height:55em;

  
}
.input {
  width:90%;
  background-color:rgba(42, 44, 47, 1.0);
  border-width:0;

}

.searchIcon {
  position: absolute;
  right:0;

  font-size: 1.3em;
  color: #B0B3B5;
}

