.headerContainer {
    position: relative;
    background-color:rgba(42, 44, 47, 1.0);
    top: 4em;
}

.branContainer {
    width:30%
}


.formSeachWidth {
    width:50%
}

  ::-webkit-input-placeholder { /* Edge */
    color:#a1a3a5;
    font-size: 1.2;
    font-weight: bold;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:#a1a3a5;
    font-size: 1.2;
    font-weight: bold;
  }
  
  ::placeholder {
    color:#a1a3a5;
    font-size: 1.2;
    font-weight: bold;
  }

  .placeHolerText{
    font-family: Arial;
    color:#85878a;
    font-size: 0.9em;  
    font-weight: normal;
  }
  .input {
  
    background-color:rgba(60, 61, 64, 1.0);
    border-width:0;
  
  
  }
  @media only screen and (max-width: 1000px) {
    .btnSeach{
        margin-left: 5em;
    }
   
    
  }

  @media only screen and (min-width: 1000px) {
    .headerItem{
      margin-right: 2em;
    }

  }
  /* 
 font-family: 'Cute Font';font-size: 2.5em;
EXO 2
Do Hyeon
Aldrich good
Changa ok
Russo One
*/

/* ipad */
  @media only screen and (min-width: 600px) {
    .brandTitle {
      font-family: 'Russo One';font-size: 2.1em;
      text-decoration: line-through solid rgba(42, 44, 47, 1.0);
      color:#a1a3a5 ;
      font-weight: normal;
      opacity: 0.9;
    

  }
  .circleSize {
    font-size: 1.3em !important;
    

  }
  .formContainer {
    width:33%;
    height: 3em;
 
    background-color:rgba(60, 61, 64,1.0); 
    border: solid #000;
    border-width: 1px;
    border-color: #333437;
   padding-top: 10px;
    box-shadow: 2px 2px  #000; 
  }

    
  }

  @media only screen and (max-width: 600px) {
    .brandTitle {
      font-family: 'Russon One';
      font-size: 1.1em;
      text-decoration: line-through solid rgba(42, 44, 47, 1.0);
      color:#a1a3a5 ;
      font-weight: bolder;
      opacity: 0.9;
    

  }
  .circleSize {
    font-size: 0.9em !important;
    }
    .formContainer {
      width:80%;
      height: 3em;
   
      background-color:rgba(60, 61, 64,1.0); 
      border: solid #000;
      border-width: 1px;
      border-color: #333437;
     padding-top: 10px;
      box-shadow: 2px 2px  #000; 
    }
    .headerContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

    
  
  }