.headerContainer {
    position: relative;
    background-color:rgba(42, 44, 47, 1.0);
    top: 4em;
}


@media only screen and (max-width: 600px) {
    .headerContainer {
        display: flex;
        flex-direction: column;
    }
   
    
}

.circleSize {
    font-size: 1.6em !important;
    

}

.branContainer {
    width:30%
}

.brandTitle {
    /* can be shortened to */
    font-family: Georgia, serif, sans-serif;;
    font-variant-caps: titling-caps;
    text-decoration: line-through solid rgba(42, 44, 47, 1.0);
    font-size: 2em;
    color:#9199a0 ;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
}


.formSeachWidth {
    width:50%
}




.formContainer {
    width:40%;
    color:white;
    background-color:rgba(60, 61, 64,1.0); 
    border: solid #000;
    border-width: 2px;
    border-color: #333437;
    padding: 6px;
    box-shadow: 3px 3px  #000; 
  }

  .input {
    color: white;
    font-size: 1.2;
    background-color:rgba(60, 61, 64, 1.0);
    border-width:0;
  
  }
  
  .searchIcon {
 
    font-size: 1.3em;
    color: white;
    font-weight: bold;
  }

  @media only screen and (max-width: 1000px) {
    .btnSeach{
        margin-left: 5em;
    }
   
    
  }