

.mainContainer {
    position: relative;
    top: 5em;
}

.itemContainer{
    list-style-type: none;
    
}
.text-related-color{
    color:#B0B3B5;
    font-size: 0.9em;
    font-weight: 500;
}
.text-item-related{
    color:#bd122c;
    font-size: 0.8em;

}

@media only screen and (max-width: 400px) {
    .mainContainer {
        position: relative;
        display: flex;
        width:100%;
        flex-direction: column;
       
    }
    .searchRelatedContainer {
        width:100%;
        background-color: rgba(42, 44, 47, 1.0);
    }
    .sortContainer {
        background-color:  rgba(42, 44, 47, 1.0);
        width:100%;
    }
    

}

/* ip, pc */
@media only screen and (min-width: 400px) {
    .listGroupContainer {
        width:50%;
        background-color: rgba(42, 44, 47, 1.0);
        
    }
   
    .searchRelatedContainer {
        width:20%;
        background-color: rgba(42, 44, 47, 1.0);
    }

    .sortContainer {
        background-color:  rgba(42, 44, 47, 1.0);
        width:20%;
    }
    

}