

.mainContainer {
    position: relative;
    top: 5em;
}

.itemContainer{
    list-style-type: none;
    
}
.text-related-color{
    color:#B0B3B5;
    font-size: 0.9em;
    font-weight: 500;
}
.text-item-related{
    color:#bd122c;
    font-size: 0.8em;

}

@media only screen and (max-width: 600px) {
    .mainContainer {
        position: relative;
        display: flex;
        width:100%;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
       
    }
    .searchRelatedContainer {
    
        width:100%;
        background-color: rgba(42, 44, 47, 1.0);
    }
    .text-related-color{
     
        margin-top: 1em;
        margin-right: 1em;;
        color:#B0B3B5;
        font-size: 0.9em;
        font-weight: 500;
    }
    .sortContainer {
        display: flex;
        justify-content: center;
        align-items: center;
       
        background-color:  rgba(42, 44, 47, 1.0);
        width:50%;
    }
    

}

/* ip, pc */
@media only screen and (min-width: 600px) {
    .listGroupContainer {
        width:53%;
        background-color: rgba(42, 44, 47, 1.0);
        
    }
   
    .searchRelatedContainer {
        width:20%;
        background-color: rgba(42, 44, 47, 1.0);
    }

    .sortContainer {
        background-color:  rgba(42, 44, 47, 1.0);
        width:20%;
    }
    

}




